<div id="navbar">
    <div id="logo">
      <a href="/"><img class="height"src="/images/testing.png"><span><span id="le">Le</span>Rix</span></a>   
    </div>
    <div id="social_pages">
      <div id="socials" class="social-links">
        <a href="https://github.com/Yan309"><img src="/images/git.png"></a>
        <a href="https://www.linkedin.com/in/muhammad-aliyan-ul-haq-75130b27b/"><img src="/images/linked.png"></a>
        <a href="https://twitter.com/DemonSkg"><img src="/images/X.png"></a>
        <a href="https://www.instagram.com/aliyan_uhh"><img src="/images/insta.png"></a>
      </div>
      <div id="pages" class="nav-links">
        <a href="/Releases">Releases</a>
        <a href="/Artists">Artists</a>
        <a href="#contform">Contact</a>
        <a href="api.html">Fake API</a>
      </div>
  </div>
    </div>