<head>
    <link rel="stylesheet" href="/proj.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="./script.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>

<footer>
    <div class="footer-container">
        <div class="footer-content">
            <img src="/images/testing.png" alt="LeRix Logo" class="footer-logo">
            <p class="footer-text">Navigate the world of music with ease on Le Rix, where lyrics flow as quickly as the melodies. Tune in, sing along, and vibe without a pause !
            </p>
        </div>
        <div class="footer-credits">
            <p>&copy; 2024 Le Rix. All rights reserved.</p>
        </div>
    </div>
</footer>